canvas{
    background-color: palegoldenrod;
}
.wrapper {
    display: grid;
    grid-template-columns: 200px 900px;
    grid-template-rows: 100px 600px 100px;
}
.wrapper div{
    border-style: dashed;
    border-width: 1px;
    border-color: black;
}
.header{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:1 ;
    grid-column-end: 3;
}
.mainmenu{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.mainWindow{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.footer{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}